.trending{
    margin: 50px 50px;
    color: white;
}

.trending h3{
    font-size: 35px;
    color: rgb(176, 7, 170);
    margin: 30px 0;
}

.shows ul{
    display: flex;
    gap: 100px;
}

.shows li{
    list-style: none;
}

.shows .name{
    width: 250px;
    text-align: center;
}

.shows .name img{
    width: 250px;
    height: 425px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.shows .name p{
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ViewAll{
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
    background-color: transparent;
    color: white;
    border: none;
}

.ViewAll:hover{
    transition: 0.3s;
    font-size: 18px;
}

.shows li:hover{
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}